/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

/* Global Styles */
body {
    padding-top: 56px; /* Adjust based on the height of the navbar */
    font-family: 'Poppins', sans-serif;
}

#mental-health,
#tips,
#contact {
    background-color: #F5F5DC;
}

nav,
#common-issues,
#testimonials,
footer {
    background-color: #edd4b9 !important;
}


/* Navbar Styles */
.navbar {
    background-color: #edd4b9 !important;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand {
    font-family: 'Abril Fatface', cursive;
}

.navbar .nav-link {
    color: #333333;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.nav-link:hover {
    color: #333333 !important;
    font-weight: bold;
}

/* Typography */
h3 {
    font-family: 'Abril Fatface', cursive;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background: url('../images/hero.png') no-repeat center center;
    background-size: cover;
}

.hero-section .btn {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
    /* Optional: to ensure the text color is white */
}

/* Modal Styles */
.modal-content {
    background-color: #ebd4bb; /* Light pastel background color */
    border-radius: 10px; /* Rounded corners */
    padding: 2rem; /* Add padding */
}

.modal-header {
    border-bottom: none; /* Remove default border */
}

.modal-footer {
    border-top: none; /* Remove default border */
}

.motivational-text {
    font-family: 'Abril Fatface', cursive; /* Use a different font family */
    font-size: 1.5rem; /* Increase font size */
    color: #333333; /* Text color */
    margin-top: 1rem;
}

/* Modal Custom Close Button */
.custom-close-btn {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
}

.custom-close-btn:hover,
.custom-close-btn:focus {
    background-color: #333333; /* Darker shade on hover/focus */
}

/* Header Styles */
header h1 {
    font-family: 'Abril Fatface', cursive;
    /* font-size: 5rem; */
}

header h2 {
    font-family: 'Poppins', sans-serif;
    /* font-size: 2rem;  */
}

/* Section Styles */
.section {
    padding: 2rem 0;
}

.section h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
}

.section p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.section img {
    max-width: 100%;
    height: auto;
}

/* Cards */
.card {
    height: 100%; /* Ensure the card takes full height */
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the container without being cropped */
}

/* Testimonials */
#testimonials h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem; /* Adjust as needed */
    text-align: center;
    margin-bottom: 1rem;
}

/* Contact Form Styles */
#contact {
    padding: 2rem 0;
}

#contact h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    color: #333333;
}

#contact .form-label {
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

#contact .form-control {
    font-family: 'Poppins', sans-serif;
}

#contact .btn-primary {
    background-color: #333333;
    border-color: #333333;
}

/* Footer Styles */
.footer {
    background-color: #f7f9fb;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.footer a {
    color: #333333;
    text-decoration: none;
}

.footer a:hover {
        color: #333333 !important;
        font-weight: bold; /* Change color on hover */
}

.footer p {
    margin: 0;
}

.footer i {
    font-size: 1.5rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 4rem;
        /* Adjust the size for smaller screens */
    }

    header h2 {
        font-size: 2rem;
        /* Adjust the size for smaller screens */
    }

    .hero-section {
        padding: 2rem;
        /* Add padding for smaller screens */
    }  
}

 @media (min-width: 576px) and (max-width: 768px) {
        .section-img {
            width: 50%; /* Adjust as needed */
            height: auto;
        }
    }

@media (max-width: 574px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 445px) {
    .hero-section .btn {
        font-size: 0.875rem; /* Adjust font size */
        padding: 0.5rem 1rem; /* Adjust padding */
    }
}

@media (max-width: 335px) {
    .hero-section .btn {
        font-size: 0.75rem; /* Further adjust font size */
        padding: 0.4rem 0.8rem; /* Further adjust padding */
    }
}