/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

/* Global Styles */

.navbar {
    background-color: #f7f9fb !important;
    color: #787864;
}

.navbar .nav-link {
    color: #787864;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .nav-link.active {
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.hero-section {
    height: 100vh;
    background: url('../images/hero.png') no-repeat center center;
    background-size: cover;
    /* color: #fff; is white text*/
}